@{
    var db = Database.Open("HackiT");
    var Query = "Select * from CrowdSource";
    var Res = db.Query(Query);

    //Layout = "Layout.cshtml";   


    var Query2 = "Select * from Complaints";
    var Res2 = db.Query(Query2);
}

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html
        {
            height: 100%;
        }

        body
        {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas
        {
            height: 100%;
        }
    </style>

    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqzpE4mSnx9gl7ftfiryG0kaH_EJ1ICo&sensor=true">
    </script>

    <script type="text/javascript">
        var map =null;
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(31.5758, 74.3269),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
               mapOptions);
            TestMarker();


        }
        var count=0
        var InfoArray = new Array();
        
        function addMarker(location,sub,photo,desc) {
           // alert("Started");
            marker = new google.maps.Marker({
                id:count.toString(),
                position: location,
                map: map,
                title:sub,
                

            });
            var str="<h3> "+sub+"</h3>";
            if (photo=="")
            {
            }
            else if (typeof(photo)== "number")
            {
                str = str + "<p> Complaint Id =" +photo+"</p>";
            }
            else if (typeof(photo) == "string" && photo != "")
                str= str +"<img src="+photo+" /> ";
            

            str=str+"<p>"+desc+"</p>";


            
                
            
            InfoArray[count] = new google.maps.InfoWindow({
                
                content: str
            });
       //     alert("Ended");
            count++;

            google.maps.event.addListener(marker, 'click', function() {
                //       alert(this.id);
                var Cur = InfoArray[parseInt(this.id) ];
                Cur.open(map,this);
                return false;
            });


        }

        
        function TestMarker() {
            
            @foreach (var item in Res)
            {
                var Strs = (item.Location).Split(';');
                
                <text>

            var Location= new google.maps.LatLng(@Convert.ToDouble(@Strs[0]) , @Convert.ToDouble(@Strs[1]));
            //    alert(Location.lat +" "+ Location.lng);
            var c=null;
            c="@item.Photo"; 
            
            
            var str = "@(item.Subject)";
            var Desc= "@(item.Description)";
            
            addMarker(Location,str,c,Desc);
            </text>
                
            }   
            

            @foreach (var item in Res2)
            {
                var Strs = (item.Address).Split(';');
                
                <text>
            
            var Location= new google.maps.LatLng(@Convert.ToDouble(@Strs[0]) , @Convert.ToDouble(@Strs[1]));
            //    alert(Location.lat +" "+ Location.lng);
            var c=null;
            
            
            
            var str = "@(item.subject)";
            var cid=@(item.ID);
            var Desc= "@(item.Description)";
         //   alert("Adding Marker");
            addMarker(Location,str,cid,Desc);
            </text>
                
            }   

            
            
        }
    </script>
</head>
<body onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%"></div>
    <div>
    </div>
</body>
</html>
